<div class="jumbotron jumbotron-fluid" >
<div class="row">
<div class="col">
    <div class="col-md">
        <div class="card text-center" style="background-color: aquamarine;">
                <div class="card-header">
                    <h5 class="card-title">Total Anggota</h5>
                </div>
                <div class="card-body" style="background-color: aqua;">
                <h3 class="card-title">{{total_anggota}}</h3>
                </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center" style="background-color: aquamarine;">
                <div class="card-header">
                    <h5 class="card-title">Total Buku</h5>
                </div>
                <div class="card-body" style="background-color: aqua;">
                <h3 class="card-title">{{total_buku}}</h3>
                </div>
        </div>
    </div>
</div>    
<div class="col">
    <div class="col-md">
        <div class="card text-center" style="background-color: aquamarine;" >
              <div class="card-header" >
                  <h5 class="card-title">Total Peminjaman</h5>
              </div>
              <div class="card-body" style="background-color: aqua;">
                <h3 class="card-title">{{total_peminjaman}}</h3>
              </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center" style="background-color: aquamarine;">
              <div class="card-header">
                  <h5 class="card-title"> Buku Dipinjam</h5>
              </div>
              <div class="card-body" style="background-color: aqua;">
                <h3 class="card-title">{{dipinjam}}</h3>
              </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center" style="background-color: aquamarine;">
              <div class="card-header">
                  <h5 class="card-title"> Buku Dikembalikan</h5>
              </div>
              <div class="card-body" style="background-color: aqua;">
                <h3 class="card-title">{{dikembalikan}}</h3>
              </div>
        </div>
    </div>
</div>
</div>
</div>

